@CHARSET "UTF-8";
/**
 * Defines styles for career tags, primarily dark theme.
 * @version 0.1.1-20141126 
 */
 
 /** 
  * Font colors, sizes, and styles
  * ===============================
  */
  
/** Defines styles for the tag. */
  .job-tag,
  .job-tag-inactive {
 	/** A near white. */
	color: #efefef;
 
  	/* near black grey. */
    background-color: #22222f;
    border: solid 3pt #22222f;
    
    margin: 4pt 10pt 4pt 0pt;
    padding: 4pt 8pt;
    text-decoration: none;
    font-size: 12pt;
    line-height: 1.33;
    white-space: nowrap;
    text-transform: lowercase;
    display: inline-block;
    
    
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   	/* Necessary for 2.3.3 to remove orange ring. */
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

/** The styles for the active clicks */
.job-tag:hover,
.job-tag:active,
.job-tag:focus { 
	background-color: rgba(251, 140, 24, 200);
	border-color: rgba(251, 140, 24, 100);
	
	color: #222;
	text-decoration:none;
	outline:0;
} 
